<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/AppTheme"
        android:label="Gmail"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ComposeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:exported="false" />
        <activity
            android:name=".MeetActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".JoinMeetingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:exported="false" />
        <activity
            android:name=".MeetCallActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>
</manifest>
